


//
//	memo1.rc : ÇPçsÉÅÉÇ
//
//	since 2023/10/16 by beshi
//



#include	<windows.h>
#include	"memo1.h"



IDR_ICON	ICON	DISCARDABLE		"memo1.ico"



IDR_MAINMENU	MENU
{
	POPUP	"&File"
	{
		MENUITEM	"&Open", IDM_OPEN
	}
}



// end of this file : memo1.rc
