


//
//	memo1.rc : ÇPçsÉÅÉÇ
//
//	since 2023/10/16 by beshi
//



#include	<windows.h>
#include	"memo1.h"



IDR_ICON	ICON	DISCARDABLE		"memo1.ico"



IDR_MAINMENU	MENU	DISCARDABLE
{
	POPUP	""
	{
		MENUITEM	"Save", IDM_SAVE
		MENUITEM	SEPARATOR
		MENUITEM	"Undo", IDM_UNDO
		MENUITEM	SEPARATOR
		MENUITEM	"Cut", IDM_CUT
		MENUITEM	"Copy", IDM_COPY
		MENUITEM	"Paste", IDM_PASTE
		MENUITEM	"Cancel Select", IDM_SLCTC
		MENUITEM	"Clear", IDM_CLEAR
		MENUITEM	SEPARATOR
		MENUITEM	"Select All", IDM_SLCTA
		MENUITEM	SEPARATOR
		MENUITEM	"Disp Memo", IDM_DISP
		MENUITEM	"Disp File", IDM_OPEN
		MENUITEM	SEPARATOR
		MENUITEM	"Exit", IDM_EXIT
		MENUITEM	"No Save Exit", IDM_EXITWS
	}
}

IDR_DSPMENU		MENU	DISCARDABLE
{
	POPUP	""
	{
		MENUITEM	"Save", IDM_SAVED
		MENUITEM	SEPARATOR
		MENUITEM	"Undo", IDM_UNDOD
		MENUITEM	SEPARATOR
		MENUITEM	"Cut", IDM_CUTD
		MENUITEM	"Co&py", IDM_COPYD
		MENUITEM	"Paste", IDM_PASTED
		MENUITEM	"Cancel Select", IDM_SLCTCD
		MENUITEM	"Clear", IDM_CLEARD
		MENUITEM	SEPARATOR
		MENUITEM	"Select All", IDM_SLCTAD
		MENUITEM	SEPARATOR
		MENUITEM	"Exit", IDM_EXITD
	}
}



// end of this file : memo1.rc
